:root {
    --color-tomato:  hsl(4, 100%, 67%);
    --color-dark-slate-grey:  hsl(234, 29%, 20%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
    --color-white:hsl(0, 0%, 100%);
    
    --space-unit: 1.6em;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: var(--color-white);
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--color-charcoal-grey);
}
.main img{
    width: 100%;
    height: auto;
}
.main .main-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2.4rem;
    padding: 4rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}
.main .main-area h1{
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1;
}
.list{
    list-style: none;
    padding-left: 0;
}
li{
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1rem;
}
li::before{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 2rem;
    height: 2rem;
    background-image: url(assets/images/icon-success.svg);
    background-size: contain;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: .8rem;
    margin-top: 1.6rem;
}
.form .form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
label{
    font-size: 1.2rem;
    font-weight: 700;
}
input{
    font-size: 1.6rem;
    width: 100%;
    padding: 1.6rem 2.4rem;
    border-radius: 8px;
    margin-bottom: 1.2rem;
    border: 1px solid var(--color-grey)
}
input::placeholder{
    opacity: .5;
    color: var(--color-charcoal-grey);
}
.alert {
    color: var(--color-tomato);
}

input.alert {
    background: var(--color-dark-slate-grey);
}

.hidden {
    display: none !important;
}

.btn{
    color: var(--color-white);
    background-color: var(--color-dark-slate-grey);
    padding: var(--space-sm);
    width: 100%;
    min-height: 5.6rem;
    border-radius: 10px;
    border: none;
}
.btn:hover {
    background: linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0rem 1.6rem 3.2rem 0rem var(--color-tomato);
}
